<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'questioner/complete.css' %}">
    </head>
    <body>
        <h2>Congratulations!</h2>
        {% if show_best %}
            <p>Here is your best performance (in terms of time spent) on question "{{ question.question_name }}"</p>
        {% else %}
            <p>Your Onshape CAD model matches all expected values from the reference model.</p> 
        {% endif %}
        <!-- Submit Feedback -->
        <form action="https://docs.google.com/forms/d/e/1FAIpQLSeOcFJo3V05CMtQSAXmmiF22xdfsdaob7_tBCTCDEwZVdVRwA/viewform?usp=sf_link" target="_blank">
            <input type="submit" value="Open Feedback Form (optional)"/>
        </form>
        <!-- Return to the home page -->
        <form action="{% url 'questioner:index' user.os_user_id %}">
            <input type="submit" value="Return to Home Page"/>
        </form>
        <br /><br />
        <!-- Show statistical comparisons if available -->
        {% if stats_display %} 
            {{ stats_display|safe }}
        {% endif %} 
    </body>
</html>