<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'questioner/home.css' %}">
    </head>
    <body>
        <!-- Return to the home page -->
        <br />
        <form action="{% url 'questioner:index' user.os_user_id %}">
            <input type="submit" value="Return to Home Page"/>
        </form>
        <br />
        <form action="{% url 'questioner:grade' user.os_user_id %}">
            <input type="submit" value="Get mass properties"/>
        </form>
        {% if mass_props %}
            {{ mass_props|safe }}
            <br /><br />
        {% endif %}
        {% if doc_time %}
            {{ doc_time|safe }}
            <br /><br />
        {% endif %}
    </body>
</html>