<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'questioner/index.css' %}">
        <!-- Load search_filter functions for the search menu, difficulty filtering, and question type filtering -->
        <script src="{% static 'questioner/search_filter.js' %}" type="text/javascript"></script>
        <!-- Load loading_index function to enable loading screen -->
        <script src="{% static 'questioner/loading.js' %}" type="text/javascript
        "></script>
    </head>
    <body>
        <!-- Load app logo at the top of the page -->
        <div id="logo">
            <img id="app_logo" src="{% static 'questioner/images/logo.svg' %}" alt="app_logo" width="95%"/>
        </div>
        <!-- Print out error message if any -->
        <div>
            {% if error_message %}
                <p id="err_msg"><strong>{{ error_message }}</strong></p>
            {% endif %}
        </div>
        <!-- General instructions -->
        <div>
            <h3>Instructions:</h3>
            <ol>
                <li>Launch this app in an empty Onshape tab</li>
                <li>Pick a challenge of your choice from the list below</li>
                <li>You have up to <strong>one hour</strong> to complete the challenge</li>
                <li>Click "Submit" at the top of the app when you finish</li>
            </ol>
            <p class="details">For more information, view the <a href="{% url 'questioner:home' user.os_user_id %}#details">detailed instructions</a>.</p>
        </div>
        <!-- Search menu to filter by question names -->
        <div>
            <input class="search_menu" type="text" id="searchInput" onkeyup="search_filter()" placeholder="Search ..." title="Type in a question name" />
        </div>
        <!-- Buttons to filter by difficulty levels -->
        <div class="level-group">
            <div>
                <input type="radio" name="user" class="radio" id="all_q" onclick="search_filter()" checked />
                <label for="all_q">All Levels</label>
            </div>
            <div>
                <input type="radio" name="user" class="radio" id="easy_q" onclick="search_filter()" />
                <label for="easy_q">Easy</label>
            </div>
            <div>
                <input type="radio" name="user" class="radio" id="med_q" onclick="search_filter()" />
                <label for="med_q">Medium</label>
            </div>
            <div>
                <input type="radio" name="user" class="radio" id="hard_q" onclick="search_filter()" />
                <label for="hard_q">Challenging</label>
            </div>
        </div>
         <!-- Buttons to filter by question type -->
        <div class="type-group">
            <div>
                <input type="radio" name="qType" class="radio" id="all_type" onclick="search_filter()" checked />
                <label for="all_type">All Types</label>
            </div>
            <div>
                <input type="radio" name="qType" class="radio" id="single_type" onclick="search_filter()" />
                <label for="single_type">Single-Part</label>
            </div>
            <div>
                <input type="radio" name="qType" class="radio" id="multi_type" onclick="search_filter()" />
                <label for="multi_type">Multi-Part</label>
            </div>
            <div>
                <input type="radio" name="qType" class="radio" id="multi_step" onclick="search_filter()" />
                <label for="multi_step">Multi-Step</label>
            </div>
            <div>
                <input type="radio" name="qType" class="radio" id="assem_type" onclick="search_filter()" />
                <label for="assem_type">Assembly</label>
            </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <!-- Allow filtering of unpublished questions for reviewers-->
        <input type="hidden" id="is_reviewer" value="{{ user.is_reviewer }}" />
        {% if user.is_reviewer %}
            <div id="reviewer_filter">
                <input type="radio" name="rev" id="rev_all" onclick="search_filter()" checked/>
                <label for="rev_all">All Questions</label>
                <input type="radio" name="rev" id="rev_pub" onclick="search_filter()" />
                <label for="rev_pub">Published Only</label>
                <input type="radio" name="rev" id="rev_unpub" onclick="search_filter()" />
                <label for="rev_unpub">Unpublished Only</label>
            </div>
        {% endif %}
        <!-- List all available questions -->
        <section id="menu">
            {% for question in questions %}
                <div class="question"> 
                    <!-- Present every document as an accordion-->
                    <button class="accordion">
                        <img src="{{ question.thumbnail }}" alt="" /> 
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;{{ question.question_name }}</h3>
                    </button>
                    <div class="panel">
                        <ul class="info_list">
                            <!-- Question type -->
                            {% if question.question_type == 'MSPS' %}
                                {% if question.question_msps.is_multi_part %}
                                    <li class="q_type">Challenge type: Multi-part Part Studio (Multi-Step)</li>
                                {% else %}
                                    <li class="q_type">Challenge type: Single-part Part Studio (Multi-Step)</li>
                                {% endif %}
                            {% else %}
                                <li class="q_type">Challenge type: {{ question.get_question_type_display }}</li>
                            {% endif %}
                            <!-- Update difficulty_filter.js if changing <li> here -->
                            {% if question.difficulty == "EA" %}
                                <li class="difficulty">Difficulty: Easy</li>
                            {% elif question.difficulty == "ME" %}
                                <li class="difficulty">Difficulty: Medium</li>
                            {% elif question.difficulty == "CH" %}
                                <li class="difficulty">Difficulty: Challenging</li>
                            {% else %}
                                <li class="difficulty">Difficulty: Unclassified</li>
                            {% endif %}
                            <!-- Label unpublished questions for reviewers -->
                            {% if user.is_reviewer %}
                                {% if question.is_published %}
                                    <li class="availability">Availability: Published</li>
                                {% else %}
                                    <li class="availability">Availability: Unpublished</li>
                                {% endif %}
                            {% endif %}
                            <!-- Completion count -->
                            <li>Number of times completed: {{ question.completion_count }}</li>
                            {% if user.is_reviewer %}
                                <li>Number of times completed by reviewers: {{ question.reviewer_completion_count }}</li>
                            {% endif %}
                            <!-- Average completion time spent -->
                            {% if question.completion_count > 0 %}
                                <li>Average time spent: {{ question.get_avg_time }}</li>
                            {% endif %}
                        </ul>
                        <!-- Button to start the question -->
                        {% if user.etype == question.allowed_etype or question.allowed_etype == "all" %}
                            {% if question|stringformat:"s" in user.completed_history.keys %}
                                <p>You have completed this challenge before ...</p>
                                <form action="{% url 'questioner:modelling' question.question_type question.question_id user.os_user_id 1 %}" onsubmit="loading_index()">
                                    <input type="submit" value="Retry this question"/>
                                </form>
                                <form action="{% url 'questioner:complete' question.question_type question.question_id user.os_user_id %}">
                                    <input type="hidden" name="best" value="1"/>
                                    <input type="submit" value="View best performance"/>
                                </form>
                            {% else %}
                                <form action="{% url 'questioner:modelling' question.question_type question.question_id user.os_user_id 1 %}" onsubmit="loading_index()">
                                    <input type="submit" value="Start this question"/>
                                </form>
                            {% endif %}
                        {% else %}
                                <p><strong>Note:</strong> You cannot start this challenge in a(n) {{ user.get_etype_display }}. Please relaunch the app in a(n) {{ question.get_allowed_etype_display }} if you would like to attempt this challenge.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
        <br /><br />
        <!-- Disclaimer -->
        <div>
            <p id="disclaimer"><a href="{% url 'questioner:home' user.os_user_id %}#documentation-on-data-collection">Data Collection Disclaimer</a> | <a href="{% url 'questioner:home' user.os_user_id %}#details">Detailed Instructions</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOcFJo3V05CMtQSAXmmiF22xdfsdaob7_tBCTCDEwZVdVRwA/viewform?usp=sf_link">Feedback</a></p>
        </div>
        <!-- Enable hide-and-show for accordions -->
        <script src="{% static 'questioner/accordion.js' %}" type="text/javascript"></script>
    </body>
</html>