<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'questioner/modelling.css' %}">
        <!-- Load pop-up alert when user trying to go back to index while modelling -->
        <script src="{% static 'questioner/modelling.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar">
            <!-- Go back to index page -->
            <a href="{% url 'questioner:index' user.os_user_id %}" onclick="return confirm_alert()">Back to Home</a>
            <!-- Submit/Re-submit for evaluation -->
            <form class="navbar-centered" action="{% url 'questioner:check' question.question_type question.question_id user.os_user_id %}">
                {% if model_comparison %}
                    <input type="submit" value="Re-submit"/>
                {% else %}
                    <input type="submit" value="Submit"/>
                {% endif %}
            </form>
            <!-- View CAD drawing in new tab -->
            <div class="navbar-right">
                <a href="https://cad.onshape.com/documents/{{ question.did }}/v/{{ question.vid }}/e/{{ question.os_drawing_eid }}/" target="_blank" rel="noopener noreferrer">View CAD drawing</a>
            </div>
        </div>
        <br>
        <div id="main">
            <!-- Print out model comparison table if inaccurate -->
            <div id="feedback">
                {% if model_comparison %}
                    {{ model_comparison |safe }}
                {% endif %}
            </div>
            <!-- Show drawing in right panel -->
            <div>
                <img src="{{ question.drawing_jpeg }}" />
            </div>
        </div>
    </body>
</html>