/* Main font and color style */
body {
    color: #333;
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Style the app logo at the center top of the page */ 
.logo{
    position: relative;
    top: 5%; 
    left: 10%;
    width: 80%; 
}

/* Style the search menu */
#searchInput {
    width: 98%;
    height: 2em;
    font-size: 18px;
    padding-left: 11px;
    border: 1px 1px solid #ddd;
}

/* Style the button group for difficulty filtering */
.btn-group input.radio {
	display: none;
}

.btn-group input.radio ~ label {
    width: 24.5%;
    border: 1px solid #d1d3d4;
    border-radius: 5px;
    background-color: #eee;
	float: left;
	line-height: 2.5em; 
    text-align: center;
	margin-bottom: 2em; 
	cursor: pointer;
}

.btn-group input.radio:hover ~ label, .btn-group input.radio:checked ~ label{
    background-color: #bbb;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: auto;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    display: inline-flex;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    outline: none;
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

/* Add a symbol to each button to indicate whether the collapsible content is open or closed */ 
.accordion:after {
    content: '\002B'; 
    font-size: 2em;
    font-weight: bold;
    color: #777; 
    position: absolute;  
    right: 5%;
    margin-top: 10px;
}

.active:after {
    content: '\2212'; 
}

/* Style the submit button of forms */ 
input[type=submit] {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #ddd;
    border: 0 none;
    border-radius: 5px;
    margin-bottom: 1em;
}

input[type=submit]:hover {
    background-color: #bbb;
}