/* Main font and color style */
body {
    color: #333;
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Style the table to show model properties */ 
table {
    text-align: left;
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

th {
    border-bottom: 2px solid;
    border-collapse: collapse;
}

.sep td {
    border-top: 1px solid;
    border-collapse: collapse;
}

/* Main content */
#feedback {
    padding-top: 30px;
}

/* The navigation bar */
#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    table-layout: fixed;
    width: 100%; 
    margin: 0;
    padding: 0;
    display: table;
    text-align: center;
}

#navbar li {
    display: table-cell;
    vertical-align: middle;
}

#navbar li a {
    position: relative;
    display: inline-block;
    background-color: #333;
    color: #f2f2f2;
    padding: 20px 20px;
    text-decoration: none;
    margin: auto;
}

#navbar li:hover a {
    background: #ddd;
    height: 100%;
    color: black;
    cursor: pointer;
} 

#navbar li:hover {
    background: #ddd;
    height: 100%;
    color: black;
    cursor: pointer;
} 

/* Loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Loader in Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}