/* Main font and color style */
body {
    color: #333;
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Style the table to show model properties */ 
table {
    text-align: left;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

th {
    border-bottom: 1px solid;
    border-collapse: collapse;
}

/* Main content */
.main {
    padding-top: 10px;
}

#zoom {
    width: 100%;
}

#zoom:hover {
    width: 200%;
    left: calc(var(--mouse-x,0)*-100%);
    top: calc(var(--mouse-y,0)*-100%);
    margin-top: 100px;
    position: absolute;
    overflow: scroll;
    cursor: zoom-in;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

/* Style the submit button for evaluation */ 
.navbar input[type=submit] {
    float: left;
    display: block;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 30%;
}

.navbar input[type=submit]:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar-centered input{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 30%
}

.navbar-right a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 30%
}