/* Main font and color style */
body {
    color: #333;
    font-family: Flama,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Style the table to show model properties */ 
table {
    text-align: left;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

th {
    border-bottom: 1px solid;
    border-collapse: collapse;
}

/* Main content */
#feedback {
    padding-top: 30px;
}

/* The navigation bar */
#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    table-layout: fixed;
    width: 100%; 
    margin: 0;
    padding: 0;
    display: table;
    text-align: center;
}

#navbar li {
    display: table-cell;
    vertical-align: middle;
}

#navbar li a {
    position: relative;
    display: block;
    background-color: #333;
    color: #f2f2f2;
    padding: 20px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
} 
